<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CloudBoost Task</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/onlineUsers.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
 
  
    
  <body>
    
    <div class="mainContainer">
      <div class="loginContainer">
        <div class="heading">IP TRACKER</div>
        <div class="avatars">
          <div class="row1">
            <img src="images/avatar-1.png">
            <img src="images/avatar-2.png">
            <img src="images/avatar-3.png">
          </div>
          <div class="row2">
            <img src="images/avatar-4.png">
            <img src="images/avatar-5.png">
            <img src="images/avatar-6.png">
          </div>
          <div class="row3">
            <img src="images/avatar-7.png">
            <img src="images/avatar-8.png">
            <img src="images/avatar-9.png">
          </div>
        </div>
        <div class="login">
          <form class="userInfo">
            
                <input type="text" autocomplete="off" placeholder="Username" id="name">
                <button type="submit">LOGIN</button>
            
          </form>   
        </div>
      </div>   
    </div>
  </body>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jsviews.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
  <script id="ipTemplate" type="text/x-jsrender">
      <div class="loggedinUser">
        <img class="userAvatar">
        <div>{^{>name}}</div>
      </div>
      <div class="onlineUsers">
        {^{for online}}
          <li class="onlineUser">
            {^{:avatar}}
            <div>{^{>name}}</div>
          </li>
        {{/for}}
      </div>
  </script>
</html>